@model IEnumerable<FypOnEF.ViewModels.Product.CartViewModel>

@{
    ViewBag.Title = "VendorOrders";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


@section admin{

    <div class="container col-12">
        <table class="table table-responsive-lg table-responsive-md text-center table-hover table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>#</th>
                    <th>Order ID</th>
                    <th>Date</th>
                    <th>Status</th>
                </tr>
            </thead>
            @{
                int i = 1;

                foreach (var data in Model)
                {
                    <tr>
                        <td>@i</td>
                        <td><a href="~/vendororderdetails/@data.OD_Id" style="color:midnightblue;">@data.OD_Id</a></td>
                        <td>@data.OrderDate</td>
                        <td>@data.OrderStatus</td>
                    </tr>
                    i++;
                }
            }
        </table>
    </div>
}